#MOTIVÁCIÓ {
  height: auto;
  background-color: rgb(228, 215, 215);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-box {
  margin: 4em 4em;
  width: 75%;
  height: 70%;
  display: flex;
  text-align: center;
}

.text-box p {
  height: 100%;
  font-family: var(--mainFont);
  background-color: rgb(250, 241, 241);
  padding: 1.5em 3em;
  border: 0.1em dotted rgb(176, 101, 101);
  line-height: 1.5em;
  letter-spacing: 0.09em;
  border-radius: var(--borderRad);
}

@media (min-width: 1280px) {
  #MOTIVÁCIÓ {
    height: 100vh;
  }
  .text-box {
    height: auto;
  }
  .text-box p {
    font-size: 28px;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  #MOTIVÁCIÓ {
    height: 100vh;
  }
  .text-box {
    height: auto;
  }
  .text-box p {
    font-size: 22px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #MOTIVÁCIÓ {
    height: auto;
  }
  .text-box {
    height: auto;
    width: auto;
  }
  .text-box p {
    font-size: 18px;
  }
}

@media (max-width: 480px) or (max-height: 480px) {
  #MOTIVÁCIÓ {
    height: auto;
  }
  .text-box {
    height: 70%;
  }
  .text-box p {
    font-size: 14px;
  }
}
