#MOTIVÁCIÓ {
  background-color: rgb(228, 215, 215);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-box {
  width: 75%;
  display: flex;
  text-align: center;
}

.text-box p {
  font-size: 28px;
  font-family: var(--mainFont);
  background-color: rgb(250, 241, 241);
  padding: 1em 3em;
  border: 0.1em dotted rgb(176, 101, 101);
  line-height: 1.5em;
  letter-spacing: 0.09em;
  border-radius: var(--borderRad);
}

@media (min-width: 992px) and (max-width: 1199px) {
  .text-box p {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-box p {
    font-size: 22px;
  }
}
@media (min-width: 410px) and (max-width: 767px) {
  .text-box p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .text-box p {
    font-size: 14px;
  }
}
