#PROJEKTEK {
  height: 200vh;
  background-color: rgb(213, 165, 165);
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

#projects-title {
  margin-top: 64px;
  font-size: 44px;
  font-family: var(--mainFont);
  color: black;
  font-weight: 400;
}
.project-container {
  border: 1px solid black;
  height: 15em;
  width: 40em;
  border-radius: var(--borderRad);
}
