.BoardCell {
  width: auto;
  border-radius: 6px;
  position: relative;
}

.tetromino {
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.tetromino .Sparkle {
  position: absolute;
  z-index: 10;
  width: 6px;
  height: 6px;
  left: -2px;
  top: -2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
}

.tetromino.ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromio.ghost .Sparkle {
  opacity: 0;
}

.tetromino__i {
  background-color: rgb(145, 189, 190);
}
.tetromino__j {
  background-color: rgb(138, 154, 190);
}
.tetromino__l {
  background-color: rgb(195, 181, 142);
}
.tetromino__o {
  background-color: rgb(210, 208, 151);
}
.tetromino__s {
  background-color: rgb(147, 203, 150);
}
.tetromino__t {
  background-color: rgb(173, 146, 198);
}
.tetromino__z {
  background-color: rgb(196, 145, 182);
}
