.section {
    height: 100vh;
}

#CV {
    background-color: beige;
}
#PORTRÉ {
    background-color: rgb(125, 125, 86);
}
#MOTIVÁCIÓ {
    background-color: beige;
}
#JÁTÉKOK {
    background-color: rgb(12, 12, 11);
}

#WEBOLDALAK {
    background-color: azure;
}
