.section {
  height: 100vh;
  display: flex;
}

.section img {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 2px;
}

.section p {
  margin: 0;
}

#FEJLÉC {
  height: 125vh;
  background-image: url("../../assets/imgs/45120026.jpg");
  background-size: cover;
}

#CV {
  background-color: rgb(0, 0, 0);
  height: 200vh;
}

#cv-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10em;
  align-items: center;
}

#cv-title {
  font-size: 44px;
  font-family: var(--mainFont);
  color: var(--lightGrey);
  font-weight: 400;
  margin: 0;
}

#line {
  width: 0.1em;
  height: 29em;
  background-color: var(--darkGrey);
}

#upper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#lower {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#CV img {
  height: 350px;
  width: 350px;
  margin: 2em;
}

.cv-detail-box p {
  font-size: 16px;
  font-family: var(--mainFont);
  color: var(--lightGrey);
}

.cv-detail-box h2 {
  border-bottom: 1px solid var(--darkGrey);
  font-family: var(--mainFont);
  color: var(--lightGrey);
}

@media (max-width: 480px) {
  #cv-container {
    gap: 5em;
  }
  #upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #CV img {
    height: 150px;
    width: 150px;
    margin: 2em;
  }
  #line {
    visibility: hidden;
    width: 0.1em;
    height: 3em;
    background-color: var(--darkGrey);
  }
  #lower {
    flex-direction: column;
  }
}

#MOTIVÁCIÓ {
  background-color: rgb(228, 215, 215);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-box {
  width: 75%;
  display: flex;
  text-align: center;
}

.text-box p {
  font-size: 28px;
  font-family: var(--mainFont);
  background-color: rgb(250, 241, 241);
  padding: 1em 3em;
  border: 0.1em dotted rgb(176, 101, 101);
  line-height: 1.5em;
  letter-spacing: 0.09em;
  border-radius: var(--borderRad);
}

@media (min-width: 992px) and (max-width: 1199px) {
  .text-box p {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-box p {
    font-size: 22px;
  }
}
@media (min-width: 410px) and (max-width: 767px) {
  .text-box p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .text-box p {
    font-size: 14px;
  }
}

#PROJEKTEK {
  height: 200vh;
  background-color: rgb(195, 188, 188);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10em;
}
#projects-title {
  font-size: 44px;
  font-family: var(--mainFont);
  color: black;
  font-weight: 400;
}
.project-container {
  border: 1px solid black;
  height: 25em;
  width: 50em;
  border-radius: var(--borderRad);
}

#JÁTÉKOK {
  background-color: var(--darkGrey);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

#games-title {
  font-size: 44px;
  font-family: var(--mainFont);
  color: var(--lightGrey);
  font-weight: 400;
}

#games-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#games-container a {
  text-decoration: none;
}

.game-type {
  color: var(--lightGrey);
  text-align: center;
  font-size: 24px;
}

.games-box {
  width: 20em;
  height: 20em;
  border: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRad);
}

.games-box p {
  margin-top: 0.5em;
  color: var(--lightGrey);
  font-style: italic;
}

#tetris-box {
  cursor: pointer;
}
