.section {
  height: 100vh;
  display: flex;
}

.section img {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 2px;
}

.section p {
  margin: 0;
}

#PIC {
  background-image: url("/imgs/26020024.jpg");
  background-size: cover;
}

#CV {
  background-color: rgb(0, 0, 0);
  height: 200vh;
}
#cv-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10em;
  align-items: center;
}
#cv-title {
  font-size: 44px;
  font-family: var(--mainFont);
  color: rgb(195, 188, 188);
  font-weight: 400;
  margin: 0;
}
#line {
  width: 0.1em;
  height: 29em;
  background-color: rgb(195, 188, 188);
}
#upper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#lower {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#CV img {
  height: 350px;
  width: 350px;
  margin: 2em;
}
.cv-detail-box p {
  font-size: 16px;
  font-family: var(--mainFont);
  color: rgb(195, 188, 188);
}
.cv-detail-box h2 {
  border-bottom: 1px solid rgb(195, 188, 188);
  font-family: var(--mainFont);
  color: rgb(195, 188, 188);
}

#MOTIVATION {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#MOTIVATION p {
  font-size: 28px;
  font-family: var(--mainFont);
  background-color: rgb(223, 228, 233);
  padding: 1em 3em;
  border: 0.1em dotted red;
  line-height: 1.5em;
  letter-spacing: 0.09em;
}

.text-box {
  width: 75%;
}

#GAMES {
  background-color: rgb(12, 12, 11);
}

#GAMES p {
  color: white;
}

#PROJECTS {
  background-color: azure;
}
