#main-header {
  height: 125vh;
  background-image: url("../../../assets/imgs/45120026.jpg");
  background-size: cover;
  position: relative;
  z-index: -1;
}

#header-box span {
  color: white;
  font-size: 38px;
  font-family: var(--mainFont);
  opacity: 100%;
}

#header-box {
  width: 100%;
  opacity: 70%;
  align-items: center;
  height: 8rem;
  display: flex;
  padding: 2em;
  background-color: rgb(20, 20, 29);
}

@media (max-width: 480px) {
  #header-box {
    height: 10rem;
  }
}
