#PROJEKTEK menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#details-container {
  width: 40em;
  margin-bottom: 2em;
}

menu li {
  list-style-type: none;
}
menu li button {
  color: black;
  padding: 1em;
  border-radius: var(--borderRad);
  cursor: pointer;
  border: 1px solid black;
  background-color: rgb(213, 165, 165);
}
menu li button.active {
  background-color: rgb(235, 203, 203);
}

menu li button:hover {
  background-color: rgb(246, 217, 217);
  margin-top: -0.1em;
  box-shadow: 2px 5px 2px grey;
}

#tab-content {
  width: 40em;
  margin-top: 35px;
  height: 11em;
}

#fe-section #tab-content {
  background-color: rgb(246, 146, 146);
}

#fs-section #tab-content {
  background-color: rgb(195, 98, 98);
}

#details-container p {
  margin-top: 35px;
  height: 30px;
}

#tab-content h3 {
  margin: 5px;
}
#tab-content p {
  margin: 5px;
}

@media (max-width: 480px) {
  #details-container {
    width: 20em;
  }
  menu li button {
    font-size: 10px;
  }
  #tab-content {
    margin: 0 auto;
    width: 20em;
    height: 25em;
    margin-top: 35px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #details-container {
    width: 20em;
  }
  menu li button {
    font-size: 10px;
  }
  #tab-content {
    margin: 0 auto;
    width: 20em;
    height: 25em;
    margin-top: 35px;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
}

@media (min-width: 1280px) {
}
