#PROJEKTEK menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#details-container {
  width: 40em;
  margin-bottom: 2em;
}

menu li {
  list-style-type: none;
}
menu li button {
  color: black;
  padding: 1em;
  border-radius: var(--borderRad);
  cursor: pointer;
  border: 1px solid black;
  background-color: rgb(213, 165, 165);
}
menu li button.active {
  background-color: rgb(235, 203, 203);
}

menu li button:hover {
  background-color: rgb(246, 217, 217);
  margin-top: -0.1em;
  box-shadow: 2px 5px 2px grey;
}

#tab-content {
  background-color: rgb(222, 178, 178);
  width: 40em;
  margin-top: 35px;
  height: 11em;
}

#details-container p {
  margin-top: 35px;
  height: 30px;
}

#tab-content h3 {
  margin: 5px;
}
#tab-content p {
  margin: 5px;
}
