header {
  height: 8rem;
  background-color: #14141d;
  width: 100%;
  opacity: 70%;
}

header span {
  color: white;
  font-size: 38px;
  text-align: center;
  font-family: var(--mainFont);
  opacity: 100%;
}

#header-box {
  padding: 2em;
}
