header {
  height: 8rem;
  background-color: #14141d;
  width: 100%;
  opacity: 70%;
}

header span {
  color: white;
  font-size: 38px;
  font-family: var(--mainFont);
  opacity: 100%;
}

#header-box {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2em;
}
